body {
  margin: 0;
}

.l-bWrapper {
  display: flex;
}

.l-cWrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.stickman {
  border: 1px solid #333;
  position: absolute;
  top: 50px;
  left: -500px;
  display: block;
}